<header class="navfixed">
        <div class="main-containersite">
            <div class="logolanggen ownlgo">
                <div class="logosdv">
                    <a href="#"><img src="./assets/img/logo.png"></a>
                </div>
     
            </div>
    
            <div class="homemenucl ownermenu"> 
                <ul> 
                    <li><a href="#" [routerLink]="['/owners-manage/managevenues']" routerLinkActive="active-link">Manage Venue </a></li>
                    <li class="mgboks"><a href="#" [routerLink]="['/owners-manage/manageevents']" routerLinkActive="active-link">Manage Bookings</a></li>
                    <li><a href="#" [routerLink]="['/owners-manage/manageevents']" routerLinkActive="active-link">Manage Events</a></li>
                    <li><a href="#" [routerLink]="['/owners-manage/manageliveofers']" routerLinkActive="active-link">Manage Live Offers</a></li>
                    <li><a href="#" [routerLink]="['/owners-manage/licencedsecurity']" routerLinkActive="active-link">Licenced Security Crowd Controller Hire</a></li>
                    <li><a href="#" [routerLink]="['/owners-manage/manageevents']" routerLinkActive="active-link">Send Notification</a></li>
                  
                </ul> 
            </div>
    
            
           
            <div class="userinfoprohead ownuser">
                    <!-- <div class="usnameinfos">
                        <p>Vinod Mehra</p>
                    </div> -->
                    <div class="thumbusersh">
                        <a [routerLink]="['/favourites']">
                            <img src="./assets/img/userpics.jpg">
                        </a>
                    </div>
    
                    <!-- <div class="inforeach">
                        <ul>
                            <li><a href="#"><img src="./assets/img/usr.png"> View Profile</a></li>
                            <li><a href="#"><img  src="./assets/img/lgout.png">Logout</a></li>
                        </ul>
                    </div> -->
    
            </div>
    
            <div class="backusers">
                    <div class="signlogcmp currentlylogin">
                        <a class="transpbtnsd" href="#" [routerLink]="['/owners-manage/forclubs-and-bars']">Home</a>
                    </div>
            </div>
            
        </div> 
    </header>