<app-clubheader></app-clubheader>
<div class="filterareasven">
    <div class="main-containersite">
        <div class="row">
            <div class="col-md-2 bdrghtd">
                <app-sidebaraccount></app-sidebaraccount>
            </div>
            <div class="col-md-10 nopaddlfts">
                <div class="citiylocationswise">
                    <h4>Feedback</h4>
                </div>
                <div class="profilecontentwdth">
                    <div class="eventvenuareas feedbackbtns">
                        <div class="setformsicos">
                            <button mat-button class="yellowbtsshw">RATE US ON APP STORE</button>
                        </div>

                        <div class="setformsicos">
                            <button mat-button class="fbbluebtnd">
                                <i class="fab fa-facebook-f"></i>LIKE US ON FACEBOOK
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-webfooter></app-webfooter>