<app-clubheader></app-clubheader> 

<div class="venuslidersectionsd">

        <section id="demos" class="agentssliders">

                        <div class="featrevts spcldtls">
                                        <div class="funthumbs">
                                              
                        
                                           <div class="wishshwms">
                                               <ul>
                                                   <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                   <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                   
                                               </ul>
                                           </div>

                                        </div>
                        
                                   </div>


                                   

                <div class="owl-carousel jobavails owl-theme">
                        
                    <div class="item">
                        <div class="featrevts spcldtls">
                                <div class="funthumbs">
                                 
                                    <div class="thumbareasupd">
                                            <img src="./assets/img/venuelargeone.png">
                                    </div>
                                </div>
                           </div>
                    </div>

                    <div class="item">
                       <div class="funthumbs">
                        <div class="thumbareasupd">
                                <img src="./assets/img/venuelargeone.png">
                        </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="funthumbs">
                                <div class="thumbareasupd">
                                        <img src="./assets/img/venuelargeone.png">
                                </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="funthumbs">
                                <div class="thumbareasupd">
                                        <img src="./assets/img/venuelargeone.png">
                                </div>
                        </div>               
                    </div>

                    <div class="item">
                        <div class="funthumbs">
                                <div class="thumbareasupd">
                                        <img src="./assets/img/venuelargeone.png">
                                </div>
                        </div>  
                    </div>


                    <div class="item">
                        <div class="funthumbs">
                                <div class="thumbareasupd">
                                        <img src="./assets/img/venuelargeone.png">
                                </div>
                        </div>  
                    </div>

                    <div class="item">
                        <div class="funthumbs">
                                <div class="thumbareasupd">
                                        <img src="./assets/img/venuelargeone.png">
                                </div>
                        </div>  
                    </div>
                </div>
         </section>

</div>

<div class="clubinfos">
   <div class="main-containersite">
        <div class="clubshare">
                <div class="dtaclub">
                        <h4>Live Music Concert</h4>
                        <p><img src="./assets/img/loc.png"> 850 Great Eastern Highway REDCLIFFE WA 6104</p>
                        <p class="evdtsplr"><img src="./assets/img/calendar.png"> <strong>29 Nov, 2019</strong> <label>6:00PM to 10:00PM</label></p>
                </div>

                <div class="dtashare">
                   <p>2.4 km</p>
                   <ul>
                       <li><a href="#"><img src="./assets/img/faceico.png"></a></li> 
                       <li><a href="#"><img src="./assets/img/insta.png"></a></li> 
                       <li><a href="#"><img src="./assets/img/forma.png"></a></li>    
                   </ul>
                </div>
        </div>

        <div class="agerrestri">
                <p><strong>Age Limit : </strong> <img src="./assets/img/agelms.png"></p>
        </div>

        <div class="abuts">
                <h4>About</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of 
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply 
                dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was 
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing software like Aldus PageMaker 
                including versions of Lorem Ipsum.</p>
        </div>

        <div class="butcentertickt">
                <button mat-button class="yellowbtsshw" (click)="openDialog()">Buy Tickets</button>
        </div> 

      
   </div>
</div>



<app-webfooter></app-webfooter>