<p class="crosicos" type="text" mat-dialog-close> X</p>

<div class="binsdds venuestcs">
        <div class="clubshare"> 
            <div class="venuinf">
                <img src="./assets/img/helpinfo.png">
                <p>Venue Type</p>
            </div>

            <div class="clubtypeinfs">
                <h4>Clubs & Bars</h4>
                <p>Venue like Night Club, Bar, Pub, Tavern, Comedy Lounge, Karaoke..</p>
            </div>

            <div class="clubtypeinfs">
                <h4>Wedding & Function Halls</h4>
                <p>Venue like Birthday Hall, Party Hall, Wedding Hall, Private Function..</p>
            </div>

            <div class="clubtypeinfs">
                <h4>Party Bus, Limo & Cruise</h4>
                <p>Venue like Party Bus, Limousine, Hummer Hire, Local Cruise... </p>
            </div>

            <div class="clubtypeinfs">
                <h4>Play & Drinks</h4>
                <p>Venue like Snooker, Bowling, Arcade, Golf Club..</p>
            </div>

            <div class="clubtypeinfs">
                <h4>Tattoo & Piercing</h4>
                <p>Tattoo Studio, Body Art, Face Painting, Body Piercing...</p>
            </div>

            <div class="closeokset" mat-dialog-close type="text">
                <p>OK</p>
            </div>
        </div>
</div>