<p class="crosicos" type="text" mat-dialog-close> X</p>
<h6 class="vrfhdsa">Forget Password</h6>
<div class="binsdds frgtmodel">
    <div class="clubshare">
        <form [formGroup]="forgetPwdForm" (ngSubmit)="forgetPwdSubmit()">
        <p>Enter your registered Email to reset your password.</p>
        <div class="setformsicos">
            <i class="material-icons">
                <img src="./assets/img/phone.png"> 
            </i>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error
                    *ngIf="forgetPwdSubmitCheck && forgetPwdForm.controls.email.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error
                    *ngIf="forgetPwdSubmitCheck && forgetPwdForm.controls.email.hasError('email')">
                    Email not valid
                </mat-error>
            </mat-form-field>
            <p class="msginfos">We will send you a verification code via Email.</p>
        </div>

        <div class="setformsicos">
            <!-- <button mat-button class="cabcelbck blueds" mat-dialog-close (click)="openDialog()">Continue</button> -->
            <button mat-button class="cabcelbck blueds" >Continue</button>
            <button mat-button class="cabcelbck" type="text" mat-dialog-close>Cancel</button>
        </div>
        </form>
    </div>
</div>