<app-clubheader></app-clubheader>


<div class="filterareasven">
<div class="clubinfos tickdts">
   <div class="main-containersite">


        <div class="clubshare">
                <div class="dtaclub">
                        <p>Booking ID: JC00829112019</p> 
                </div>
        </div>
        <div class="ticketsdetailsde">
        <div class="clubshare">
                <div class="dtaclub">
                        <h4>Live Music Concert</h4>
                        <p class="evdtsplr"><img src="./assets/img/calendar.png"> <strong style="font-weight: 400;">29 Nov, 2019</strong> <label>10:00 AM</label></p>
                </div>

                <div class="dtashare qrsc">
                        <img src="./assets/img/qrcode.png">
                </div>
        </div>

        <div class="tcgrids">
                <div class="row">
                        <div class="col-mg-6">
                                <div class="venudts">
                                    <p class="vnmes">Venue Name</p>
                                    <h6>Rose & Crown Club</h6>
                                </div>

                                <div class="venudts">
                                    <p class="vnmes">Address</p>
                                    <h6>850 Great Eastern Highway REDCLIFFE WA 6104</h6>
                                </div>
                        </div>

                        <div class="col-mg-6">
                                <div class="agerrestri">
                                        <p><strong>Age Limit  </strong> <img src="./assets/img/agelms.png"></p>
                                </div> 
                                
                                
                                <div class="venudts spctp">
                                        <p class="vnmes">Ticket Type</p>
                                        <p class="tcqyt"><label>Sunday Pass</label> 3</p>
                                        <p class="tcqyt"><label>Child</label> 1</p>
                                </div>
                        </div>
                </div>
        </div>

        <!-- <div class="amountdispy">
        <p class="rfpol"><label>Refund Policy</label> <strong>No Refund</strong></p>
        
        </div> -->

        <div class="Amount">
                <p class="rfpol"><label>Refund Policy</label> <strong>No Refund</strong></p>
                <p class="paid"><label>Amount Paid</label> <strong>$ 150</strong></p> 
        </div>
        

        </div>

        <div class="abuts">
                <h4>About</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of 
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply 
                dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was 
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing software like Aldus PageMaker 
                including versions of Lorem Ipsum.</p>
        </div>

       

      
   </div>
</div>
</div>


<app-webfooter></app-webfooter>