<footer>
    <div class="webfooters">
        <div class="main-containersite">
            <div class="row">
                <div class="col-md-4">
                    <div class="widgetsfoo">
                        <h3>Company</h3>
                        <ul>
                            <li><a [routerLink]="['/']">Home</a></li>
                            <li><a [routerLink]="['/aboutus']">About Us</a></li>
                            <li><a [routerLink]="['/helpsupport']">Help & Support</a></li>
                            <li><a (click)="listVenueCheck()">List your venue</a></li>
                        </ul>
                        <ul>
                            <li><a [routerLink]="['/refer-a-friend']">Refer a friend</a></li>
                            <li><a>Privacy Policy</a></li>
                            <li><a>Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-4 rightfloes">
                    <div class="widgetsfoo">
                        <h3>Connect With Us</h3>
                        <div class="socialflows">
                            <ul>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="copyrights">
                    <p>© Copyright 2019 Just Clubbing Pty Ltd ACN 635 922 459</p>
                </div>

            </div>
        </div>
    </div>
</footer>