<app-clubheader></app-clubheader>
<div class="filterareasven">
    <div class="main-containersite">
        <div class="row">
            <div class="col-md-2 bdrghtd">
                <app-sidebaraccount></app-sidebaraccount>
            </div>
            <div class="col-md-10 nopaddlfts">
                <div class="citiylocationswise">
                    <h4>My Purchase History</h4>
                </div>
                <div class="profilecontentwdth">
                    <div class="eventvenuareas purchistory">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="wishshwms">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shwtimesstats">
                                            <p class="dateevtsd">29 Nov, 2019</p>
                                            <span>6:00 PM to 10:00 PM</span>
                                        </div>
                                        <div class="thumbareasupd" [routerLink]="['/history-details']">
                                            <img src="./assets/img/imagethree.jpg">
                                        </div>
                                    </div>
                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/history-details']">Live Music Concert</h5>
                                        <p>Rose & Crown Club</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="wishshwms">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shwtimesstats">
                                            <p class="dateevtsd">29 Nov, 2019</p>
                                            <span>6:00 PM to 10:00 PM</span>
                                        </div>
                                        <div class="thumbareasupd" [routerLink]="['/history-details']">
                                            <img src="./assets/img/evtsone.jpg">
                                        </div>
                                    </div>
                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/history-details']">Live Music Concert</h5>
                                        <p>Rose & Crown Club</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="wishshwms">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shwtimesstats">
                                            <p class="dateevtsd">29 Nov, 2019</p>
                                            <span>6:00 PM to 10:00 PM</span>
                                        </div>
                                        <div class="thumbareasupd" [routerLink]="['/history-details']">
                                            <img src="./assets/img/eventsone.jpg">
                                        </div>
                                    </div>
                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/eventsdetail']">Live Music Concert</h5>
                                        <p>Rose & Crown Club</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="wishshwms">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shwtimesstats">
                                            <p class="dateevtsd">29 Nov, 2019</p>
                                            <span>6:00 PM to 10:00 PM</span>
                                        </div>
                                        <div class="thumbareasupd" [routerLink]="['/history-details']">
                                            <img src="./assets/img/evtstwo.jpg">
                                        </div>
                                    </div>
                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/eventsdetail']">Live Music Concert</h5>
                                        <p>Rose & Crown Club</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="wishshwms">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shwtimesstats">
                                            <p class="dateevtsd">29 Nov, 2019</p>
                                            <span>6:00 PM to 10:00 PM</span>
                                        </div>
                                        <div class="thumbareasupd" [routerLink]="['/history-details']">
                                            <img src="./assets/img/imagethree.jpg">
                                        </div>
                                    </div>
                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/eventsdetail']">Live Music Concert</h5>
                                        <p>Rose & Crown Club</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="wishshwms">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shwtimesstats">
                                            <p class="dateevtsd">29 Nov, 2019</p>
                                            <span>6:00 PM to 10:00 PM</span>
                                        </div>
                                        <div class="thumbareasupd" [routerLink]="['/history-details']">
                                            <img src="./assets/img/evtsone.jpg">
                                        </div>
                                    </div>
                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/eventsdetail']">Live Music Concert</h5>
                                        <p>Rose & Crown Club</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-webfooter></app-webfooter>