.venuslidersectionsd,
.clubinfos.bgachanges .clubshare.editableparts,
.setformsicos .yellowbtsshw{ margin:0px}

.dropicoshw { 
    width: 45%; 
    padding: 0 25px;
}

.dropicoshw p{
    margin: 0;
    padding: 15px 0;
}

.dropicoshw p span{
    /* color: #615e5e; */
    font-weight: 500;
    font-size: 15px;
    margin: 0 0 0 20px;
}