<div class="nohdmenus">
                <app-headerloginbackbtn></app-headerloginbackbtn>
            </div>
<div class="clubinfos bgachanges">
        <div class="main-containersite">
                <div class="clubshare editableparts">

                        <div class="clunbamenties">
                                <h4>Licenced Security Crowd Controller</h4>
                                <div class="row">

                                        <div class="col-md-6">
                                                <div class="setformsicos righticos">
                                                        <i class="material-icons">
                                                                <img src="./assets/img/calen.png">
                                                        </i>
                                                        <mat-form-field>
                                                                <input matInput [matDatepicker]="picker"
                                                                        placeholder="Date of Requirement">
                                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-6">

                                        </div>
                                </div>
                        </div>






                        <div class="clunbamenties">
                                <div class="additrs">
                                        <p class="instructsd">Number of Staff <span>(Minimum of 4 hours will be charged
                                                        per staff hire)</span></p>
                                        <img src="./assets/img/addtime.png">
                                </div>


                                <div class="row">

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <mat-label>Qty</mat-label>
                                                                <mat-select>
                                                                        <mat-option>1</mat-option>
                                                                        <mat-option>2</mat-option>
                                                                        <mat-option>3</mat-option>
                                                                        <mat-option>4</mat-option>
                                                                        <mat-option>5</mat-option>
                                                                </mat-select>
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <mat-label>Start Time</mat-label>
                                                                <mat-select>
                                                                        <mat-option>08:00 AM</mat-option>
                                                                        <mat-option>10:00 AM</mat-option>
                                                                        <mat-option>12:00 PM</mat-option>
                                                                        <mat-option>02:00 PM</mat-option>
                                                                        <mat-option>04:00 PM</mat-option>
                                                                        <mat-option>06:00 PM</mat-option>
                                                                        <mat-option>08:00 PM</mat-option>
                                                                        <mat-option>10:00 PM</mat-option>
                                                                        <mat-option>12:00 AM</mat-option>

                                                                </mat-select>
                                                        </mat-form-field>
                                                </div>
                                        </div>


                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <mat-label>End Time</mat-label>
                                                                <mat-select>
                                                                        <mat-option>04:00 PM</mat-option>
                                                                        <mat-option>06:00 PM</mat-option>
                                                                        <mat-option>08:00 PM</mat-option>
                                                                        <mat-option>10:00 PM</mat-option>
                                                                        <mat-option>12:00 AM</mat-option>
                                                                        <mat-option>08:00 AM</mat-option>
                                                                        <mat-option>10:00 AM</mat-option>
                                                                        <mat-option>12:00 PM</mat-option>
                                                                        <mat-option>02:00 PM</mat-option>

                                                                </mat-select>
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <input matInput placeholder="Total Hours">
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                </div>


                                <div class="row nodegen">

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>3</p>
                                                </div>
                                        </div>

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>5:00 PM</p>
                                                </div>
                                        </div>


                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>09:00 PM</p>
                                                </div>
                                        </div>

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>12</p>
                                                </div>
                                        </div>

                                </div>


                                <div class="row nodegen">

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>5</p>
                                                </div>
                                        </div>

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>10:00 AM</p>
                                                </div>
                                        </div>


                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>02:00 AM</p>
                                                </div>
                                        </div>

                                        <div class="col-md-3">
                                                <div class="setformsicos righticos">
                                                        <p>20</p>
                                                </div>
                                        </div>

                                </div>
                        </div>

                        <div class="clunbamenties">
                                <div class="row">

                                                <div class="col-md-12">
                                                                <div class="setformsicos">
                                        
                                                                        <mat-form-field>
                                                                                <input matInput placeholder="Address">
                                                                        </mat-form-field>
                                                                </div>
                                                        </div>
                                        
                                        
                                                        <div class="col-md-3">
                                                                <div class="setformsicos">
                                        
                                                                                <mat-form-field>
                                                                                                <input matInput placeholder="City">
                                                                                        </mat-form-field>
                                                                </div>
                                                        </div>
                                        
                                                        <div class="col-md-3">
                                                                <div class="setformsicos">
                                                                        <mat-form-field>
                                                                                <input matInput placeholder="Suburb">
                                                                        </mat-form-field>
                                                                </div>
                                                        </div>
                                        
                                                       
                                                        <div class="col-md-3">
                                                                <div class="setformsicos">
                                        
                                                                        <mat-form-field>
                                                                                <mat-label>State</mat-label>
                                                                                <mat-select>
                                                                                        <mat-option>NSW</mat-option>
                                                                                        <mat-option>ACT</mat-option>
                                                                                        <mat-option>VIC</mat-option>
                                                                                        <mat-option>QLD</mat-option>
                                                                                        <mat-option>SA</mat-option>
                                                                                        <mat-option>WA</mat-option>
                                                                                        <mat-option>TAS</mat-option>
                                                                                        <mat-option>NT</mat-option>
                                        
                                                                                </mat-select>
                                                                        </mat-form-field>
                                                                </div>
                                                        </div>
                                        
                                                        <div class="col-md-3">
                                                                <div class="setformsicos">
                                        
                                                                        <mat-form-field>
                                        
                                                                                <input matInput placeholder="Postcode">
                                                                        </mat-form-field>
                                                                </div>
                                                        </div>
                                </div>
                        </div>

                        <div class="clunbamenties">
                                <div class="abuts">
                                        <h4>Standard Uniform</h4>
                                        <p>Plain black shirt, Plain black trousers, Plain black belt, Plain black shoes,
                                                Lanyard with ID, Torch, Pen, Notepad, Black jacket and Black
                                                hat/cap if required.</p>
                                        <mat-form-field>
                                                <textarea matInput placeholder="Add additional information here (uniform change/staff
                                     briefing)"></textarea>
                                        </mat-form-field>
                                </div>
                        </div>

                        <div class="clunbamenties margin0">
                                <div class="row">

                                        <div class="col-md-4">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <input matInput placeholder="Contact Person Name">
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-4">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <input matInput placeholder="Email ID">
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-4">
                                                <div class="setformsicos righticos">
                                                        <mat-form-field>
                                                                <input matInput placeholder="Phone Number">
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                </div>
                        </div>


                        <div class="clunbamenties">
                                <div class="setformsicos">
                                        <div class="attachareasrels">

                                                <div class="fleloads briefing">
                                                        <p>Attach Briefing Notes</p>>
                                                </div>

                                        </div>

                                </div>

                                <div class="setformsicos barepcs">
                                        <div class="row">
                                                <div class="col-md-4">
                                                        <div class="upgriddocs">
                                                                <a href="JavaScript:Void(0);">
                                                                        <input type="file">
                                                                        <i class="fas fa-file-alt"></i>
                                                                </a>
                                                        </div>
                                                </div>


                                                <div class="col-md-4">
                                                        <div class="upgriddocs bgchng">
                                                                <a href="JavaScript:Void(0);">
                                                                                <input type="file">
                                                                        <i class="fas fa-plus"></i>
                                                                </a>
                                                        </div>
                                                </div>

                                        </div>
                                </div>

                                <div class="setformsicos">
                                        <div class="attachareasrels">
                                                <div class="rempass">
                                                        <mat-checkbox>I agree to the <span class="tncs"
                                                                        (click)="openDialog()">Terms &
                                                                        Conditions</span></mat-checkbox>
                                                </div>
                                        </div>
                                </div>

                                <div class="setformsicos">
                                        <button mat-button class="yellowbtsshw"
                                                [routerLink]="['/owners-manage/payments']">SUBMIT</button>
                                </div>

                        </div>
                </div>



        </div>
</div>
<app-footerowner></app-footerowner>