<app-clubheader></app-clubheader>

<div class="venuslidersectionsd">

    <section id="demos" class="agentssliders">

        <div class="featrevts spcldtls">
            <div class="funthumbs">
                <div class="recbtns">
                    <img src="./assets/img/thub.png">
                    <p>Recommended</p>
                </div>

                <div class="wishshwms">
                    <ul>
                        <li>
                            <a href="#"><img src="./assets/img/shareab.png"></a>
                        </li>
                        <li><a href="#"><i class="fas fa-heart"></i></a></li>

                    </ul>
                </div>

                <div class="openstats">
                    <img src="./assets/img/calaendr.png">
                </div>

                <!-- <div class="shwtimesstats ratingssts">
                    <ul>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                    <p class="rvcounts">3759 Reviews</p>
                </div> -->

            </div>

        </div>

        <div class="owl-carousel jobavails owl-theme">

            <div class="item">
                <div class="featrevts spcldtls">
                    <div class="funthumbs">

                        <div class="thumbareasupd">
                            <img src="./assets/img/venuelargeone.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="clubinfos">
    <div class="main-containersite">
        <div class="clubshare">
            <div class="dtaclub">
                <h4>Wedding Hall Name</h4>
                <div class="Rates">
                    <ul>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li class="active"><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                    <p class="rvcounts">3759 Ratings</p>
                </div>
                <p><img src="./assets/img/loc.png"> 850 Great Eastern Highway REDCLIFFE WA 6104</p>
            </div>

            <div class="dtashare">
                <p>2.4 km</p>
                <ul>
                    <li>
                        <a href="#"><img src="./assets/img/faceico.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/img/insta.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/img/forma.png"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="opendtaclbs">

            <div class="centerdropsd">
                <div class="dropicoshw">
                    <img src="./assets/img/clco.png">
                    <p>Open Now</p>
                    <mat-form-field>
                        <mat-label>16:00 - 2:00</mat-label>
                        <mat-select>
                            <mat-option>
                                16:00 - 2:00
                            </mat-option>
                            <mat-option>
                                16:00 - 5:00
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="dropicoshw">
                    <img src="./assets/img/clcokha.png">
                    <p>Happy Hours</p>
                    <mat-form-field>
                        <mat-label>16:00 - 18:00</mat-label>
                        <mat-select>
                            <mat-option>
                                16:00 - 4:00
                            </mat-option>
                            <mat-option>
                                16:00 - 2:00
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

        </div>

        <div class="clunbamenties">
            <h4>Amenities</h4>
            <div class="amnsets">
                <ul>
                    <li><img src="./assets/img/park.png">
                        <p>Parking</p>
                    </li>
                    <li><img src="./assets/img/cocktail.png">
                        <p>Cocktails Available</p>
                    </li>
                    <li><img src="./assets/img/happuhr.png">
                        <p>Happy Hours</p>
                    </li>
                    <li><img src="./assets/img/spoonfd.png">
                        <p>Food Available</p>
                    </li>
                    <li><img src="./assets/img/rooftop.png">
                        <p>Rooftop Bar</p>
                    </li>
                    <li><img src="./assets/img/toilets.png">
                        <p>Toilets</p>
                    </li>
                    <li><img src="./assets/img/oudoorst.png">
                        <p>Outdoor Seating</p>
                    </li>
                    <li><img src="./assets/img/atmfac.png">
                        <p>ATM Facility</p>
                    </li>


                    <li><img src="./assets/img/Scenic_View.png">
                        <p>Scenic Views</p>
                    </li>

                    <li><img src="./assets/img/History_Tours.png">
                        <p>History Tours</p>
                    </li>

                    <li><img src="./assets/img/Captains_Commentary.png">
                        <p>Captain's Commentary</p>
                    </li>

                    <li><img src="./assets/img/Weddings.png">
                        <p>Weddings</p>
                    </li>

                    <li><img src="./assets/img/Music.png">
                        <p>Music Rooms</p>
                    </li>

                    <li><img src="./assets/img/Front_Deck_Seat.png">
                        <p>Front Deck Seats</p>
                    </li>

                    <li><img src="./assets/img/Adults_Only.png">
                        <p>Adults only</p>
                    </li>

                    <li><img src="./assets/img/Licenced_Bar.png">
                        <p>Licenced Bar</p>
                    </li>

                    <li><img src="./assets/img/Karaoke.png">
                        <p>Karaoke</p>
                    </li>

                    <li><img src="./assets/img/Laser_Tag.png">
                        <p>Laser Tag</p>
                    </li>

                    <li><img src="./assets/img/Mini_Bowling.png">
                        <p>Mini Bowling</p>
                    </li>

                    <li><img src="./assets/img/Top_Spin.png">
                        <p>Top Spin</p>
                    </li>

                    <li><img src="./assets/img/Bumper_Car.png">
                        <p>Bumper Cars</p>
                    </li>

                    <li><img src="./assets/img/Glow_Golf.png">
                        <p>Glow Golf</p>
                    </li>



                </ul>
            </div>
        </div>

        <div class="abuts">
            <h4>About</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
        </div>

        <div class="maplocatesd">
            <h4>Location</h4>
            <div class="ifrmps">
                <img src="./assets/img/locatiomps.png">
            </div>
        </div>

        <div class="eventssetsdis">
            <div class="viewhdand-bts">
                <h6 class="main-headnorms">Live Offers Running</h6>
            </div>

            <div class="evtallgrid">
                <div class="gridcommn">
                    <div class="ticketsvaries">
                        <div class="tickteds redvarients">
                            <img src="./assets/img/redtcikets.png">
                        </div>

                        <div class="ticinfoshowms">
                            <div class="vcrinfos">
                                <p>Voucher Left 89</p>
                                <button mat-button class="whtbtns" (click)="openDialog()">Reedem Now</button>
                            </div>
                            <div class="lcdistant">
                                <img src="./assets/img/locwht.png">
                                <p>2.4 km</p>
                            </div>

                            <div class="clubinfoname">
                                <p>Rose & Crown Club</p>
                                <strong>Get 1 Beer for $5</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gridcommn">
                    <div class="ticketsvaries">
                        <div class="tickteds redvarients">
                            <img src="./assets/img/yellotickets.png">
                        </div>

                        <div class="ticinfoshowms">
                            <div class="vcrinfos">
                                <p>Voucher Left 89</p>
                                <button mat-button class="whtbtns" (click)="openDialog()">Reedem Now</button>
                            </div>
                            <div class="lcdistant">
                                <img src="./assets/img/locwht.png">
                                <p>2.4 km</p>
                            </div>

                            <div class="clubinfoname">
                                <p>Rose & Crown Club</p>
                                <strong>Get 1 Beer for $5</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gridcommn">
                    <div class="ticketsvaries">
                        <div class="tickteds redvarients">
                            <img src="./assets/img/violetsticktes.png">
                        </div>

                        <div class="ticinfoshowms">
                            <div class="vcrinfos">
                                <p>Voucher Left 89</p>
                                <button mat-button class="whtbtns" (click)="openDialog()">Reedem Now</button>
                            </div>
                            <div class="lcdistant">
                                <img src="./assets/img/locwht.png">
                                <p>2.4 km</p>
                            </div>

                            <div class="clubinfoname">
                                <p>Rose & Crown Club</p>
                                <strong>Get 1 Beer for $5</strong>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ratingreviewsclienst">

            <h4>Rating & Reviews</h4>

            <div class="owl-carousel reviesawaits owl-theme">
                <div class="item">

                    <div class="companypanel clienpans">
                        <a href="#">

                            <div class="coments-olys">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>
                            </div>

                            <div class="clients-olynames">
                                <div class="clroundimgs">
                                    <img src="./assets/img/userflow.png">
                                </div>
                                <p>Prashant Chaudhary</p>
                                <div class="shwtimesstats ratingssts">
                                    <ul>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="companypanel clienpans">
                        <a href="#">

                            <div class="coments-olys">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>
                            </div>

                            <div class="clients-olynames">
                                <div class="clroundimgs">
                                    <img src="./assets/img/userflow.png">
                                </div>
                                <p>Prashant Chaudhary</p>
                                <div class="shwtimesstats ratingssts">
                                    <ul>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="companypanel clienpans">
                        <a href="#">

                            <div class="coments-olys">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>
                            </div>

                            <div class="clients-olynames">
                                <div class="clroundimgs">
                                    <img src="./assets/img/userflow.png">
                                </div>
                                <p>Prashant Chaudhary</p>
                                <div class="shwtimesstats ratingssts">
                                    <ul>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="companypanel clienpans">
                        <a href="#">

                            <div class="coments-olys">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>
                            </div>

                            <div class="clients-olynames">
                                <div class="clroundimgs">
                                    <img src="./assets/img/userflow.png">
                                </div>
                                <p>Prashant Chaudhary</p>
                                <div class="shwtimesstats ratingssts">
                                    <ul>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="EmailArea rateparts">
            <h3>Rate Your Experience</h3>
            <div class="form-group">
                <i class="material-icons"> star_border </i>
                <i class="material-icons"> star_border </i>
                <i class="material-icons"> star_border </i>
                <i class="material-icons"> star_border </i>
                <i class="material-icons"> star_border </i>

                <div class="writereview">
                    <a href="javascript:void(0);" (click)="openDialog4()">Write a Review</a>
                </div>
            </div>


        </div>

        <div class="setformsicos">

            <button class="yellowbtsshw" mat-button>Call</button>
            <button class="yellowbtsshw blcwhts" mat-button [routerLink]="['/messagevent']">Message</button>
        </div>


    </div>
</div>

<app-webfooter></app-webfooter>