<div class="nohdmenus">
        <app-headerloginbackbtn></app-headerloginbackbtn>
    </div>
    
<div class="clubinfos bgachanges">
        <div class="main-containersite">
             <div class="clubshare editableparts">
                
                     <div class="clunbamenties">
                            <div class="clubshare">
                                    <div class="dtaclub">
                                            <h4>Congratulations Amit,</h4>
                                            <p>Your request has been received, You’ll be contacted as soon as possible.</p>
                                           
                                    </div>   
                            </div>

                            <div class="recinfostrans">
                                <p>Please attach payment receipt for payment confirmation</p>

                                <div class="Upload">
                                        <img src="assets/img/uploadicos.png">
                                        <input type="file">
                                        <span>Upload Receipt <sup>*</sup></span>
                                </div>

                                <!-- <div  class="attachareasrels">
                                        <div class="fleloads reciptflow">
                                                <input  type="file">
                                        </div>
                                </div> -->

                                <div class="reciptflows">
                                        <a href="JavaScript:Void(0);"><img src="./assets/img/recipt.png"></a>
                                </div>
                            </div>



             </div>
           

                         <div class="clunbamenties">
                    
                            <div class="setformsicos">
                                    <button mat-button class="yellowbtsshw" [routerLink]="['/owners-manage/sequrityhirerequest']"  >DONE</button>
                            </div>
             
                        </div>
             </div>
     
             
             
        </div>
     </div>
<app-footerowner></app-footerowner>