<div class="nohdmenus">
                <app-headerloginbackbtn></app-headerloginbackbtn>
           </div>

<div class="venuslidersectionsd manageslid editsdelbts">

        <section id="demos" class="agentssliders">

                <div class="featrevts spcldtls">
                        <div class="funthumbs">


                        </div>

                        

                        <div class="addmoreimagesu">
                                <button>Add More images</button>
                            </div>

                            <div class="wishshwms">
                                    <ul>
                                        <li>
                                                <a href="javascript:void(0)"><i class="fas fa-trash"></i></a>
                                        </li>
                                    </ul>
                                </div> 
                            <!--(click)="openDialog()"-->
                </div>

                <div class="owl-carousel jobavails owl-theme">

                        <div class="item">
                                <div class="featrevts spcldtls">
                                        <div class="funthumbs">

                                                <div class="thumbareasupd">
                                                        <img src="./assets/img/honeysingh.jpg">
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="item">
                                <div class="funthumbs">
                                        <div class="thumbareasupd">
                                                <img src="./assets/img/honeysingh.jpg">
                                        </div>
                                </div>
                        </div>

                        <div class="item">
                                <div class="funthumbs">
                                        <div class="thumbareasupd">
                                                <img src="./assets/img/honeysingh.jpg">
                                        </div>
                                </div>
                        </div>

                        <div class="item">
                                <div class="funthumbs">
                                        <div class="thumbareasupd">
                                                <img src="./assets/img/honeysingh.jpg">
                                        </div>
                                </div>
                        </div>

                        <div class="item">
                                <div class="funthumbs">
                                        <div class="thumbareasupd">
                                                <img src="./assets/img/honeysingh.jpg">
                                        </div>
                                </div>
                        </div>


                        <div class="item">
                                <div class="funthumbs">
                                        <div class="thumbareasupd">
                                                <img src="./assets/img/honeysingh.jpg">
                                        </div>
                                </div>
                        </div>

                        <div class="item">
                                <div class="funthumbs">
                                        <div class="thumbareasupd">
                                                <img src="./assets/img/honeysingh.jpg">
                                        </div>
                                </div>
                        </div>
                </div>
        </section>

</div>

<div class="clubinfos bgachanges">
        <div class="main-containersite">
                <div class="clubshare editableparts">

                        <div class="clunbamenties">
                                <!-- <h4>Venue Details</h4> -->
                                <div class="row">

                                        <div class="col-md-6">
                                                <div class="setformsicos righticos">

                                                        <mat-form-field>
                                                                <input matInput placeholder="Event Title">
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-6">
                                                <div class="setformsicos righticos">
                                                        <i class="material-icons">
                                                                <img src="./assets/img/calen.png">
                                                        </i>
                                                        <mat-form-field>
                                                                <input matInput [matDatepicker]="picker"
                                                                        placeholder="Event Date">
                                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="clunbamenties">

                                <div class="row">

                                        <div class="col-md-6">
                                                <div class="setformsicos righticos">

                                                        <mat-form-field>
                                                                <strong>Start Time</strong>
                                                                <mat-select>
                                                                        <mat-option>None</mat-option>

                                                                </mat-select>
                                                        </mat-form-field>
                                                </div>
                                        </div>


                                        <div class="col-md-6">
                                                <div class="setformsicos righticos">

                                                        <mat-form-field>
                                                                <strong>End Time</strong>
                                                                <mat-select>

                                                                        <mat-option>None</mat-option>

                                                                </mat-select>
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                </div>
                        </div>

                        <div class="clunbamenties">
                                <!-- <h4>Venue Details</h4> -->
                                <div class="row">

                                        <div class="col-md-6">
                                                <div class="setformsicos righticos">
                                                      
                                                        <mat-form-field>
                                                                <input matInput placeholder="Address">
                                                        </mat-form-field>
                                                </div>
                                        </div>

                                        <div class="col-md-6">
                                                <div class="hrsetslimt">

                                                        <div class="happyhourspromotion">
                                                                <div class="promotxt">
                                                                        <h4>Age Limit 18+</h4>
                                                                </div>
                                                                <div class="chkbxpop">
                                                                        <mat-radio-group aria-label="Select an option">
                                                                                <mat-radio-button value="1">Yes
                                                                                </mat-radio-button>
                                                                                <mat-radio-button value="2">No
                                                                                </mat-radio-button>
                                                                        </mat-radio-group>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>


                        <div class="abuts">
                                <h4>Description</h4>
                                <mat-form-field>
                                        <textarea matInput placeholder="Please add event description here"
                                                value="Sed do eiusmod tempor incididunt ut labore et dolore magna aliq Sed do eiusmod tempor incididunt ut labore et dolore magna aliq Sed do eiusmod tempor incididunt ut labore et dolore magna aliq Sed do eiusmod tempor incididunt ut labore et dolore magna aliq Sed do eiusmod tempor incididunt ut labore et dolore magna aliq Sed do eiusmod tempor incididunt ut labore et dolore magna aliq."></textarea>
                                </mat-form-field>
                        </div>

                        <div class="additrs">
                                <p>Tickets Details</p>
                                <img src="./assets/img/addtime.png">
                        </div>


                        <div class="ticketssetgrids">
                                <div class="row">

                                        <div class="col-md-4">
                                                <mat-form-field>
                                                        <input matInput placeholder="Ticket Type">
                                                </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                                <mat-form-field>
                                                        <input matInput placeholder="Ticket Price">
                                                </mat-form-field>
                                        </div>


                                        <div class="col-md-4">
                                                <mat-form-field>
                                                        <input matInput placeholder="Ticket Quantity">
                                                </mat-form-field>
                                        </div>


                                </div>


                                <div class="row">

                                        <div class="col-md-4">
                                                <mat-form-field>
                                                        <input matInput placeholder="Ticket Type" value="Weekend Price">
                                                </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                                <mat-form-field>
                                                        <input matInput placeholder="Ticket Price" value="50$">
                                                </mat-form-field>
                                        </div>


                                        <div class="col-md-4">
                                                <mat-form-field>
                                                        <input matInput placeholder="Ticket Quantity" value="100">
                                                </mat-form-field>
                                        </div>


                                </div>

                                <div class="setformsicos manageven">
                                        <button class="yellowbtsshw" mat-button
                                                [routerLink]="['/owners-manage/eventsdetail']">Save</button>
                                </div>


                        </div>
                </div>



        </div>
</div>


<app-footerowner></app-footerowner>