<div class="gridcommn">
    <div class="featrevts spcldtls">
        <div class="funthumbs">
            <div class="recbtns">
                <img src="./assets/img/thub.png">
                <p>Recommended</p>
            </div>



            <div class="thumbareasupd" [routerLink]="['/weddingfunction']">
                <img src="./assets/img/imageoneev.jpg">
            </div>

        </div>

        <div class="evtdtsl">
            <h5 [routerLink]="['/weddingfunction']">Rose & Crown Club</h5>
            <div class="imglcs">
                <img src="./assets/img/loc.png">
                <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
            </div>
        </div>
    </div>
</div>