<div class="nohdmenus">
        <app-headerloginbackbtn></app-headerloginbackbtn>
   </div>



<div  class="filterareasven">
   <div class="main-containersite">  
    <div class="eventslistssmall">
        <div class="row">

                <div class="setformsicos newebts">
                        <div class="createevts">
                                <button  class="yellowbtsshw" mat-button  [routerLink]="['/owners-manage/createevents']"> CREATE EVENTS</button> 
                        </div>
                    </div>

            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                                <img  src="./assets/img/imagethree.jpg">
                            </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                        <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>

            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                                <a [routerLink]="['/owners-manage/eventsdetail']">
                                    <img  src="./assets/img/evtsone.jpg">
                                </a>
                            
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/eventsone.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                                <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/evtstwo.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>



            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/imagethree.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>

            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                         
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/evtsone.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/eventsone.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                         
                        <div  class="shwtimesstats">
                                <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/evtstwo.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                            <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                         
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/imagethree.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                        <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>

            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                         
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/evtsone.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                        <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                         
                        <div  class="shwtimesstats">
                            <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/eventsone.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                        <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>


            <div class="col-md-3">
                    <div  class="featrevts spcldtls">
                        <div class="funthumbs">
                        
                        <div  class="shwtimesstats">
                                <p class="dateevtsd">29 Nov, 2019</p>
                            <span>6:00 PM To 10:00 PM</span>
                        </div>
                        <div  class="thumbareasupd">
                            <a [routerLink]="['/owners-manage/eventsdetail']">
                            <img  src="./assets/img/evtstwo.jpg">
                        </a>
                        </div>
                    </div>
                    <div  class="evtdtsl">
                        <h5 [routerLink]="['/owners-manage/eventsdetail']">Live Music Concert</h5>
                        <p>Rose & Crown Club</p>
                    </div>
                    </div>
            </div>

        </div>

      
    </div>
        
   </div> 
</div>


<app-footerowner></app-footerowner>