<app-clubheader></app-clubheader>

<div class="filterareasven">
    <div class="main-containersite">
        <div class="abtscontents">
            <h3>About Just Clubbing</h3>
            <mat-tab-group>
                <mat-tab label="Privacy Policy">
                    <p [innerHtml]="Privacy?.description"></p>
                </mat-tab>
                <mat-tab label="Terms and Conditions">
                    <p [innerHtml]="Term?.description"></p>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>


<app-webfooter></app-webfooter>