<div class="nohdmenus">
        <app-headerloginbackbtn></app-headerloginbackbtn>
    </div>
<div class="clubinfos bgachanges">
        <div class="main-containersite">
             <div class="clubshare editableparts">

                    <div class="setformsicos newebts">
                            <div class="createevts">
                                    <button  class="yellowbtsshw" mat-button  [routerLink]="['/owners-manage/licencedsecurity']"> CREATE NEW REQUEST</button> 
                            </div>
                        </div>
                
                <div class="clunbamenties">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="seqgrds">
                                <h3>Security Guard</h3>
                                <p>Sunday, 6th Oct 2019</p>

                                <div class="imglcs">
                                    <img  src="./assets/img/loc.png">
                                    <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="seqgrds">
                                <h3>Security Guard</h3>
                                <p>Sunday, 6th Oct 2019</p>

                                <div class="imglcs">
                                    <img  src="./assets/img/loc.png">
                                    <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="seqgrds">
                                    <h3>Security Guard</h3>
                                    <p>Sunday, 6th Oct 2019</p>
    
                                    <div class="imglcs">
                                        <img  src="./assets/img/loc.png">
                                        <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                    </div>
                                    
                                </div>
                            </div>


                            <div class="col-md-6">
                                    <div class="seqgrds">
                                        <h3>Security Guard</h3>
                                        <p>Sunday, 6th Oct 2019</p>
        
                                        <div class="imglcs">
                                            <img  src="./assets/img/loc.png">
                                            <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>
                                        
                                    </div>
                                </div>


                                <div class="col-md-6">
                                        <div class="seqgrds">
                                            <h3>Security Guard</h3>
                                            <p>Sunday, 6th Oct 2019</p>
            
                                            <div class="imglcs">
                                                <img  src="./assets/img/loc.png">
                                                <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                            </div>
                                            
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                            <div class="seqgrds">
                                                <h3>Security Guard</h3>
                                                <p>Sunday, 6th Oct 2019</p>
                
                                                <div class="imglcs">
                                                    <img  src="./assets/img/loc.png">
                                                    <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                                </div>
                                                
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                                <div class="seqgrds">
                                                    <h3>Security Guard</h3>
                                                    <p>Sunday, 6th Oct 2019</p>
                    
                                                    <div class="imglcs">
                                                        <img  src="./assets/img/loc.png">
                                                        <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="seqgrds">
                                                        <h3>Security Guard</h3>
                                                        <p>Sunday, 6th Oct 2019</p>
                        
                                                        <div class="imglcs">
                                                            <img  src="./assets/img/loc.png">
                                                            <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                        <div class="seqgrds">
                                                            <h3>Security Guard</h3>
                                                            <p>Sunday, 6th Oct 2019</p>
                            
                                                            <div class="imglcs">
                                                                <img  src="./assets/img/loc.png">
                                                                <p>850 Great Eastern Highway REDCLIFFE WA 6104</p>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                    </div>
                    
                </div>
      
             </div>
     
             
             
        </div>
     </div>
<app-footerowner></app-footerowner>