<app-clubheader></app-clubheader>
 

<div class="">
    <div class="referbannersmain">
          
                <div class="textjbc">
                    <h1>Find best offers running on venues around Australia</h1>
                    <div class="downloadappct refertags animated  toponemy slideInRight">
                        <h2 >Download the app</h2>
                        <div  class="appbtpla">
                            <a  href="#"><img  src="./assets/img/gplaybtn.png"></a>
                            <a  href="#"><img  src="./assets/img/appplaybtn.png"></a>
                        </div>
                    </div>
                </div>
            
    </div>
 
    <div class="referslidemgm">
    <div class="main-containersite"> 
        <div class="referclassfrnd">
            <div class="referfrdcenter">


                <div class="stepsliderthrees">
                        <div class="owl-carousel stepthreemobs owl-theme">
                                <div class="item">
                                        <div class="referleftguides">
                                                <div class="stpemakar">
                                                        <div class="stpmdtxs">
                                                    <p class="stepdes">Step 1</p>
                                                        </div>
                                                    <!--div class="textleftsw">
                                                            <h5>Home</h5>
                                                            <p>Lorem ipsum, or lipsum as it is some times known, is dummy text used in laying out print, graphic or web dsigns. </p>
                                                    </div>-->
                                                    
                                                    <img src="./assets/img/steponeimgs.png">
                                                </div>
                                            </div>
                                </div>

                                <div class="item">
                                        <div class="referrightguides">
                                                <div class="stpemakar">
                                                    <div class="stpmdtxs">
                                                        <p class="stepdes">Step 2</p>
                                                    </div>
                            
                                                   <!-- <div class="textrightsw">
                                                            <h5>Profile</h5>
                                                            <p>Lorem ipsum, or lipsum as it is some times known, is dummy text used in laying out print, graphic or web dsigns. </p>
                                                    </div>-->
                            
                                                    <img src="./assets/img/steptwoimgs.png">
                                                </div>
                                            </div>
                                </div>

                                <div class="item">
                                        <div class="referleftguides">
                                                <div class="stpemakar">
                                                    <div class="stpmdtxs">
                                                            <p class="stepdes">Step 3</p>
                                                    </div>
                                                    
                            
                                                   <!-- <div class="textleftsw">
                                                            <h5>Refer to Friend</h5>
                                                            <p>Lorem ipsum, or lipsum as it is some times known, is dummy text used in laying out print, graphic or web dsigns. </p>
                                                    </div>-->
                            
                                                    <img src="./assets/img/stepthreeimg.png">
                                                </div>
                                            </div>
                                </div>
                        </div>
                </div>

                


                



                

                <div class="stpemakar referbutnds">
                   <button class="referfrdyello">Refer</button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>



<app-webfooter></app-webfooter>








 