<app-clubheader></app-clubheader>
<div class="filterareasven">
    <div class="main-containersite">
        <div class="row">
            <div class="col-md-2 bdrghtd">
                <app-sidebaraccount></app-sidebaraccount>
            </div>
            <div class="col-md-10 nopaddlfts">
                <div class="citiylocationswise">
                    <h4>About Just Clubbing</h4>
                </div>
                <div class="profilecontentwdth">
                    <div class="eventvenuareas">
                        <div class="abtscontents">
                            <mat-tab-group>
                                <mat-tab label="Privacy Policy">
                                    <p [innerHtml]="Privacy?.description"></p>
                                </mat-tab>
                                <mat-tab label="Terms and Conditions">
                                    <p [innerHtml]="Term?.description"></p>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-webfooter></app-webfooter>