<app-clubheader></app-clubheader>
 

<div class="filterareasven">
    <div class="main-containersite">
        <div class="row">
            <!-- <div class="col-md-2 bdrghtd">

                <div class="filterslfts">
                    <h4>Venue Types</h4>
                    <ul>
                        <li> <mat-radio-button value="1" checked>Clubs & Bars</mat-radio-button> </li>
                        
                    </ul>
                </div>
            </div> -->

            <div class="col-md-12 nopaddlfts">
                <div class="citiylocationswise">
                    <h4>Events </h4>
                </div>
                <div class="profilecontentwdth">
                    <p>No Data found </p>
                        <!-- <div class="eventslistssmall evtgrids">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/imagethree.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/evtsone.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/eventsone.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM To 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/evtstwo.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/imagethree.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/evtsone.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/eventsone.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/evtstwo.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <div class="featrevts spcldtls">
                                            <div class="funthumbs">
                                                <div class="wishshwms">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="shwtimesstats">
                                                    <p class="dateevtsd">29 Nov, 2019</p>
                                                    <span>6:00 PM to 10:00 PM</span>
                                                </div>
                                                <div class="thumbareasupd" [routerLink]="['/eventsdetail']">
                                                    <img src="./assets/img/imagethree.jpg">
                                                </div>
                                            </div>
                                            <div class="evtdtsl">
                                                <h5 [routerLink]="['/eventsdetail']">Live Music Concert</h5>
                                                <p>Rose & Crown Club</p>
                                            </div>
                                        </div>
                                    </div>
                     
                     
                                </div>
                    
                                <div class="pagiinationgrds">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item "><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>




<app-webfooter></app-webfooter>








 