<p class="crosicos" type="text" mat-dialog-close> X</p>

<div class="binsdds frgtmodel verifybts">
        <div class="clubshare">
        <form [formGroup]="changePwdForm" (ngSubmit)="changePwdSubmit()">
              <h6>Change Password</h6>
            <div class="setformsicos">
                <i class="material-icons">
                    <img src="./assets/img/lockico.png"> 
                </i>
                <mat-form-field>
                <input type="password" matInput formControlName="password" placeholder="Password (at least 6 Characters)">
                <mat-error
                    *ngIf="changePwdSubmitCheck && changePwdForm.controls.password.hasError('required')">
                        Password is required
                </mat-error>
                </mat-form-field>
            </div>

            <div class="setformsicos">
                <i class="material-icons">
                    <img src="./assets/img/unlcok.png"> 
                </i>
                <mat-form-field>
                <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password">
                <mat-error
                    *ngIf="changePwdSubmitCheck && changePwdForm.controls.confirmPassword.hasError('notEquivalent')">
                        Confirm Password is not match
                </mat-error>
                </mat-form-field>
            </div>

            <div class="setformsicos">
                <button mat-button class="yellowbtsshw" type="submit">CHANGE PASSWORD</button>
            </div>
        </form>
        </div>
</div>