<app-clubheader></app-clubheader>

<div class="venuslidersectionsd">

    <section id="demos" class="agentssliders">

        <div class="featrevts spcldtls">
            <div class="funthumbs">

                <!-- <div class="wishshwms">
                    <ul>
                        <li>
                            <a href="#"><img src="./assets/img/shareab.png"></a>
                        </li>
                        <li><a href="#"><i class="fas fa-heart"></i></a></li>

                    </ul>
                </div> -->

            </div>

        </div>

        <div class="SliderArea">
            <img src="./assets/img/venuelargeone.png">
        </div>

        <!-- <div class="owl-carousel jobavails owl-theme">

            <div class="item">
                <div class="featrevts spcldtls">
                    <div class="funthumbs">

                        <div class="thumbareasupd">
                            <img src="./assets/img/venuelargeone.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="funthumbs">
                    <div class="thumbareasupd">
                        <img src="./assets/img/venuelargeone.png">
                    </div>
                </div>
            </div>
        </div> -->
    </section>

</div>

<div class="HistoryArea">
    <div class="main-containersite">
        <div class="HistoryHead">
            <h5><span>Booking ID : </span>JC258364865</h5>
            <h4>Live Music Concert</h4>
            <h6>Rose & Crown Club</h6>
            <p>
                <span><img src="./assets/img/loc.png"></span> 850 Great Eastern Highway REDCLIFFE WA 6104</p>
            <p>
                <span><img src="./assets/img/calendar.png" width="20px"></span> <strong>29 Nov, 2019</strong>
                <label>6:00 PM to 10:00 PM</label>
            </p>
        </div>

        <div class="HistoryBody">
            <table>
                <tr>
                    <th>Ticket Type</th>
                    <th>Quantity</th>
                </tr>

                <tr>
                    <td>Sunday Pass</td>
                    <td> 5</td>
                </tr>

                <tr>
                    <td>Weekely Pass</td>
                    <td> 2</td>
                </tr>

                <tr>
                    <td>Child </td>
                    <td>2</td>
                </tr>

                <tr>
                    <td>Amount Paid</td>
                    <td>$5,000</td>
                </tr>

            </table>

            

        </div>

    </div>
</div>

<app-webfooter></app-webfooter>