<div class="nohdmenus">
        <app-headerloginbackbtn></app-headerloginbackbtn>
</div>
<div class="clubinfos bgachanges">
<div class="main-containersite">
        <div class="clubshare editableparts cbsgridsspcs">
        <div class="simpleformpages">
        <div class="midcenterfrms">
        <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                <div class="col-md-12">
                <div class="setformsicos">
                <mat-form-field>
                        <textarea matInput placeholder="Write your message here..." formControlName="message"></textarea>
                        <mat-error
                        *ngIf="submitCheck && notificationForm.controls.message.hasError('required')">
                        Message is required
                    </mat-error>
                </mat-form-field>
                </div>
                </div>
                <div class="setformsicos">
                <button mat-button class="yellowbtsshw">SEND</button>
                </div>
                </div>
        </form>
        </div>
        </div>
        </div>
</div>
</div>
<app-footerowner></app-footerowner>