<app-clubheader></app-clubheader>
<div class="filterareasven">
    <div class="main-containersite">
        <div class="row">
            <div class="col-md-2 bdrghtd">
                <app-sidebaraccount></app-sidebaraccount>
            </div>
            <div class="col-md-10 nopaddlfts">
                <div class="citiylocationswise">
                    <h4>List Your Venue</h4>
                </div>
                <div class="profilecontentwdth">
                    <div class="eventvenuareas">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="recbtns">
                                            <img src="./assets/img/thub.png">
                                            <p>Recommended</p>
                                        </div>

                                        <div class="wishshwms">
                                            <ul>
                                                <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>

                                            </ul>
                                        </div>

                                        <div class="openstats">
                                            <img src="./assets/img/calaendr.png">
                                        </div>

                                        <div class="shwtimesstats">
                                            <p>Closed Now </p>
                                            <span>6:00 PM To 10:00 PM</span>
                                        </div>

                                        <div class="thumbareasupd" [routerLink]="['/justclubbing/venuesdetail']">
                                            <img src="./assets/img/imageoneev.jpg">
                                        </div>

                                    </div>

                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/venuesdetail']">Rose & Crown Club</h5>
                                        <div class="clubspecific">
                                            <ul>
                                                <li> <img src="./assets/img/cigrates.png"></li>
                                                <li><img src="./assets/img/flagshw.png"></li>
                                                <li><img src="./assets/img/strips.png"></li>
                                                <li><img src="./assets/img/sing.png"></li>
                                            </ul>
                                        </div>
                                        <div class="imglcs">
                                            <img src="./assets/img/loc.png">
                                            <p>431 great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>

                                        <div class="distanceshw">
                                            <p>2.4 km</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">


                                        <div class="wishshwms">
                                            <ul>
                                                <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>

                                            </ul>
                                        </div>

                                        <div class="openstats">
                                            <img src="./assets/img/timing.png">
                                        </div>

                                        <div class="shwtimesstats">
                                            <p>Closed Now </p>
                                            <span>6:00 PM To 10:00 PM</span>
                                        </div>

                                        <div class="thumbareasupd" [routerLink]="['/justclubbing/venuesdetail']">
                                            <img src="./assets/img/evtsthree.jpg">
                                        </div>

                                    </div>

                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/venuesdetail']">Rose & Crown Club</h5>
                                        <div class="clubspecific">
                                            <ul>
                                                <li> <img src="./assets/img/cigrates.png"></li>
                                                <li><img src="./assets/img/flagshw.png"></li>
                                                <li><img src="./assets/img/strips.png"></li>
                                                <li><img src="./assets/img/sing.png"></li>
                                            </ul>
                                        </div>
                                        <div class="imglcs">
                                            <img src="./assets/img/loc.png">
                                            <p>431 great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>

                                        <div class="distanceshw">
                                            <p>2.4 km</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">

                                        <div class="recbtns">
                                            <img src="./assets/img/thub.png">
                                            <p>Recommended</p>
                                        </div>

                                        <div class="wishshwms">
                                            <ul>
                                                <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>

                                            </ul>
                                        </div>

                                        <div class="openstats">
                                            <img src="./assets/img/calaendr.png">
                                        </div>

                                        <div class="shwtimesstats">
                                            <p>Closed Now </p>
                                            <span>6:00 PM To 10:00 PM</span>
                                        </div>

                                        <div class="thumbareasupd" [routerLink]="['/justclubbing/venuesdetail']">
                                            <img src="./assets/img/imagetwoev.jpg">
                                        </div>

                                    </div>

                                    <div class="evtdtsl">
                                        <h5>Rose & Crown Club</h5>
                                        <div class="clubspecific">
                                            <ul>
                                                <li> <img src="./assets/img/cigrates.png"></li>
                                                <li><img src="./assets/img/flagshw.png"></li>
                                                <li><img src="./assets/img/strips.png"></li>
                                                <li><img src="./assets/img/sing.png"></li>
                                            </ul>
                                        </div>
                                        <div class="imglcs">
                                            <img src="./assets/img/loc.png">
                                            <p>431 great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>

                                        <div class="distanceshw">
                                            <p>2.4 km</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">


                                        <div class="wishshwms">
                                            <ul>
                                                <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>

                                            </ul>
                                        </div>

                                        <div class="openstats">
                                            <img src="./assets/img/timing.png">
                                        </div>

                                        <div class="shwtimesstats">
                                            <p>Closed Now </p>
                                            <span>6:00 PM To 10:00 PM</span>
                                        </div>

                                        <div class="thumbareasupd" [routerLink]="['/justclubbing/venuesdetail']">
                                            <img src="./assets/img/evtsthree.jpg">
                                        </div>

                                    </div>

                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/venuesdetail']">Rose & Crown Club</h5>
                                        <div class="clubspecific">
                                            <ul>
                                                <li> <img src="./assets/img/cigrates.png"></li>
                                                <li><img src="./assets/img/flagshw.png"></li>
                                                <li><img src="./assets/img/strips.png"></li>
                                                <li><img src="./assets/img/sing.png"></li>
                                            </ul>
                                        </div>
                                        <div class="imglcs">
                                            <img src="./assets/img/loc.png">
                                            <p>431 great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>

                                        <div class="distanceshw">
                                            <p>2.4 km</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">


                                        <div class="wishshwms">
                                            <ul>
                                                <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>

                                            </ul>
                                        </div>

                                        <div class="openstats">
                                            <img src="./assets/img/calaendr.png">
                                        </div>

                                        <div class="shwtimesstats">
                                            <p>Closed Now </p>
                                            <span>6:00 PM To 10:00 PM</span>
                                        </div>

                                        <div class="thumbareasupd" [routerLink]="['/justclubbing/venuesdetail']">
                                            <img src="./assets/img/imagetwoev.jpg">
                                        </div>

                                    </div>

                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/venuesdetail']">Rose & Crown Club</h5>
                                        <div class="clubspecific">
                                            <ul>
                                                <li> <img src="./assets/img/cigrates.png"></li>
                                                <li><img src="./assets/img/flagshw.png"></li>
                                                <li><img src="./assets/img/strips.png"></li>
                                                <li><img src="./assets/img/sing.png"></li>
                                            </ul>
                                        </div>
                                        <div class="imglcs">
                                            <img src="./assets/img/loc.png">
                                            <p>431 great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>

                                        <div class="distanceshw">
                                            <p>2.4 km</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="featrevts spcldtls">
                                    <div class="funthumbs">
                                        <div class="recbtns">
                                            <img src="./assets/img/thub.png">
                                            <p>Recommended</p>
                                        </div>

                                        <div class="wishshwms">
                                            <ul>
                                                <li><a href="#"><img src="./assets/img/shareab.png"></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>

                                            </ul>
                                        </div>

                                        <div class="openstats">
                                            <img src="./assets/img/timing.png">
                                        </div>

                                        <div class="shwtimesstats">
                                            <p>Closed Now </p>
                                            <span>6:00 PM To 10:00 PM</span>
                                        </div>

                                        <div class="thumbareasupd" [routerLink]="['/justclubbing/venuesdetail']">
                                            <img src="./assets/img/evtsthree.jpg">
                                        </div>

                                    </div>

                                    <div class="evtdtsl">
                                        <h5 [routerLink]="['/justclubbing/venuesdetail']">Rose & Crown Club</h5>
                                        <div class="clubspecific">
                                            <ul>
                                                <li> <img src="./assets/img/cigrates.png"></li>
                                                <li><img src="./assets/img/flagshw.png"></li>
                                                <li><img src="./assets/img/strips.png"></li>
                                                <li><img src="./assets/img/sing.png"></li>
                                            </ul>
                                        </div>
                                        <div class="imglcs">
                                            <img src="./assets/img/loc.png">
                                            <p>431 great Eastern Highway REDCLIFFE WA 6104</p>
                                        </div>

                                        <div class="distanceshw">
                                            <p>2.4 km</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-webfooter></app-webfooter>